<h1>add products</h1>
<form method="post" action="/addProduct">
    <div>
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
    </div>
    <div>
        <button type="submit">Add Product</button>
    </div>
<form>
